{% include 'Admin_app/base_template.html' %}



{% block main_content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Singup</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->

                {% url 'student_signup' as action_path %}

                {% include 'Admin_app/form_template.html' with messages=messages form=form action_path=action_path button_text="Admin Signup" button_text="Student Signup" %}
            </div>

            <div class="card-header">
              
            </div>
            <!-- /.card-header -->
            <!-- form start -->

              {% url 'teacher_signup' as action_path %}

              {% include 'Admin_app/form_template.html' with messages=messages form=form action_path=action_path button_text="Admin Signup" button_text="Teacher Signup" %}
          </div>
            <!-- /.card -->



          </div>
          </div>
      </div><!-- /.container-fluid -->
      <span>Already on BAUST Career-Hub? 
        <a href="{% url 'signin' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
        <span>Sign In </span>
      </a>
    </span>
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% include 'Admin_app/footer.html' %}