{% include 'Admin_app/base_template.html' %}



{% block main_content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Singup</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->

                {% url 'doSignUp' as action_path %}

                {% include 'Admin_app/form_template.html' with messages=messages form=form action_path=action_path button_text="Admin Signup" button_text="Admin Signup" %}
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}
