{% extends 'Admin_app/Admin/base_template.html' %}
{% block page_title %}
Add Department
{% endblock page_title %}


{% block main_content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Department</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url 'add_department_save' %}" method="post">
                {% csrf_token %}
                <div class="card-body">
                  <input type="text" placeholder="Department Name" name="department_name" class="form-control" requiered/><br>


                  <div class="form-group>"
          {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" style="margin-top:10px;background-color: red;">
                {{ message }}
            </div>
            {% endif %}
                  {% if message.tags == 'success' %}
            <div class="alert alert-success" style="margin-top:10px;background-color: green;">
                    {{ message }}
            </div>
            {% endif %}
            {% endfor %}

          {% endif %}

        </div>


                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Department</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
          </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}
