{% extends 'Admin_app/Admin/base_template.html' %}
{% block page_title %}
Manage Student
{% endblock page_title %}


{% block main_content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">

          <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Student Details</h3>

                
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>User Name</th>
                      <th>Email</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      
                      <th>Department</th>
                      <th>Student Id</th>
                      <th>Level-Term</th>
                      <th>Phone</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for student in student %}
                    <tr>
                      <td>{{ student.id }}</td>
                      <td>{{ student.user.username }}</td>
                      <td>{{ student.user.email }}</td>
                      <td>{{ student.user.first_name }}</td>
                      <td>{{ student.user.last_name }}</td>
                     
                      <td>{{ student.user.department }}</td>
                      <td>{{ student.user.student_id }}</td>
                      <td>{{ student.user.level_term }}</td>
                      <td>{{ student.user.phone }}</td>
                      

                      <td><a href="{% url 'student_details' id=student.id %}" class="btn btn-success">View</a></td>
                      <td><a href="{% url 'student_details' id=student.id %}" class="btn btn-warning">Edit</a></td>
                      <td><a href="{% url 'student_details' id=student.id %}" class="btn btn-danger">Delete</a></td>
                      

                    </tr>
                    {% endfor %}
                  </tbody>

                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}
